name: Publishing an npm package 

on:
  workflow_dispatch:
  # push: we dont need this anymore
  #  branches: [ "main" ]
  # pull_request:
  #  branches: [ "main" ]

jobs:
  publish-npm-package:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}

    - name: Publish
      run: |
        sudo npm publish
